.face_detection_body{
    margin: 0;
    padding: 0;
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.face_detection_body video{
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(14,21,47,0.35);
}

.margin{
    margin-top: -100px;
}

canvas{
    position: absolute;
}

.above{
    margin: -5%;
}

.hidden{
    display: none;
}

@media only screen and (max-width: 764px){
    .face_detection_body video{
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(14,21,47,0.35);
        width: 70%;
        height: 50%;
    }
}