.form-login{
    margin-left: -8px;
    margin-top: 50px;
}

.form-group label, .signup-text, .form-login p{
    font-size: 20px;
}

.signup-text{
    margin-top: 20px;
    text-align: center;
}

.signup-text a, .signup-text a:hover{
    text-decoration: none;
    color: #CCDBFD;
}

.signup-text a:hover{
    color: #b5b9c4;

}

.container-signup{
    margin-top: -5%;
    margin-left: -2%;
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}