<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/face-detection.css">
    <link rel="stylesheet" href="/public/css/login.css">
    <link rel="stylesheet" href="/public/css/navbar.css">
    <link rel="stylesheet" href="/public/css/homepage.css">
    <link rel="stylesheet" href="/public/css/dashboard.css">
    <title>onlinePay</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light ml-5">
        <% if (user_data) { %>
          <a class="navbar-brand" href="/dashboard/dashboard">onlinePay</a>
        <% }else{ %>
          <a class="navbar-brand" href="/">onlinePay</a>
        <% } %> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav"> 
            <% if (user_data) { %>
              <li class="nav-item">
                <a href="/user/face-detection" class="nav-link">Save/Update Face</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            <% }else{ %>
              <li class="nav-item">
                <a class="nav-link" href="/user/login">Login <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/signup">Signup</a>
              </li>
            <% } %>
          </ul>
        </div>
      </nav>